@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


* {
    font-family: "Noto Sans" , "Arial";
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.swiper {
    margin: 10px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* min-height: 100vh; */

}

.swiper-button-prev, .swiper-button-next{
    color: #b928f3;

    
}


/* Cor das bolinhas inativas */
.swiper-pagination-bullet {
  background-color: #5e137c; /* cinza claro */
  opacity: 1;              /* garante que não fique transparente */
}

.swiper-pagination-bullet-active {
  background-color:#b928f3 ; /* azul */
}

.card-wrapper {
    max-width: 1005px;
    margin: 0 60px 35px;
    padding: 20px 10px;
    overflow: hidden;
}

.card-list .card-item {
    list-style: none;
    
}

.card-list .card-item .card-link {
    user-select: none;
   
    display: block;
    background-color: #ffffff;
    padding: 18px;
    border-radius: 12px;
    border: 2px solid transparent;
    text-decoration: none;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
    transition: 0.2s ease;
}

.card-list .card-item .card-link:hover {
    cursor: grabbing;
}


.card-list .card-item .card-link:hover {
    border-color:  rgb(114, 49, 236);
}

.card-list .card-link .card-image {
    width: 100%;
    aspect-ratio: 16/16;
    object-fit: cover;
    border-radius: 10px;
}

.card-list .card-link .badge{
    color: rgb(143, 179, 229);
    background-color: rgb(213, 228, 241);
    padding: 8px 16px;
    font-size: 0.95rem;
    font-weight: 500;
    margin: 16px 0 18px;
    width: fit-content;
    border-radius: 50px;
}

.card-list .card-link .eco-point {
    color: rgb(111, 235, 128);
    background-color: rgb(30, 107, 49);
}

.card-list .card-link .info-web {
    color: rgb(192, 212, 240);
    background-color: rgb(25, 33, 156);
}

.card-list .card-link .biblioteca-taverna {
    color: rgb(216, 193, 150);
    background-color: rgb(126, 56, 28);
}

.card-list .card-link .frieren {
    color: rgb(46, 82, 73);
    background-color: rgb(163, 233, 154);
}

.card-list .card-link .to-do-list {
    color: rgb(138, 184, 248);
    background-color: rgb(67, 23, 168);
}

.card-list .card-link .elementa-rpg {
    color: rgb(255, 255, 255);
    background-color: rgb(212, 61, 99);
}




.card-list .card-link .card-title {
    font-size: 1rem;
    color: #000;
    font-weight: 400;
    text-align: justify;


}

.card-list .card-link .card-button {
    height: 35px;
    width: 35px;
    color: rgb(114, 49, 236);
    border-radius: 50%;
    margin: 30px 0 5px;
    background: none;
    cursor: pointer;
    border: 2px solid rgb(114, 49, 236);
    transform: rotate(-45deg);
    transition: 0.4s ease;
}

.card-list .card-link:hover .card-button {
    color: #ffffff;
    background: rgb(114, 49, 236);
}





@media screen and (max-width: 618px) {
    .card-wrapper {
        margin: 0 10px 25px;

    }


    .card-wrapper .swiper-slide-button {
        display: none;
    }
}

@media screen and (max-width: 575px) {
    .swiper {
        margin: 0;
    }
      
       

    
    .card-wrapper .swiper-slide-button {
        display: none;
    }
}

