@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html {
  scroll-behavior: smooth;
}

:root {
  --primary-color: #050c20;
  --secondary-color: #5e17eb;
  --tertiary-color: #0976e3;
  --font-size-comum-text: 16px;
  --font-size-titles: 22px;
  --font-size-buttons: 16px;
  --font-family-primary: 'Noto Sans', 'Arial';
  --font-weight-titles: 700;
  --font-weight-text: 700;
}


* {
  font-family: var(--font-family-primary);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: var(--primary-color);
}

.purple-container {
  width: 600px;
  height: 718px;
  margin-left: 71px;
  background-color: var(--secondary-color);
  position: absolute;
  z-index: -1;
}

/* Pseudo-elemento adicionando um content 
main::after {
  content: '';
  position: fixed;
  top: 0;
  right: 0;
  min-height: 100vh;
  width: 110vw;
  background: linear-gradient(90deg, #1a1a1a 11%, rgb(24 21 21 / 0%) 50%, rgb(0 0 0 / 0%) 100%) no-repeat;
  z-index: -1;

}
*/

#cabecalho {
  display: flex;
  align-items: center;
  justify-content: center;
 
} 


#cabecalho #nav-bar {
padding-top: 15px;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
gap: 30px;
max-width: 100%;


}

#linha-horizontal {
  position: absolute;
  border: none;
  height: 10px;
  background-color: var(--secondary-color);
  width: 32%;
  opacity: 1;
  margin-left: 49%;
}

.links {
  text-decoration: none;
  color: #ffffff;
  font-size: var(--font-size-buttons);
  transition: 0.2s ease;
}

#nav-bar .links:hover{
  color: #c844e2;
}



 /* HOME  */
.container-home  {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.container-home .home-texto {
  width: 100%;
}

.home-texto .texto {
  color: #fff;
  margin-top: 10px;
  color: #ffffff;
  font-size: var(--font-size-titles);
}


.home-texto .portfolio {
  background-color: aliceblue;
  color: var(--primary-color);
  text-align: center;
  font-size: 18px;
  border-radius: 10px;
  padding: 20px 20px;
  width: 50%;
  height: 15%;
  align-items: center;
  justify-content:center;
  display: flex;
}


.home-texto .nome {
  color:aliceblue;
  text-align: start;
  font-size: 48px;
}

.home-texto .curso {
  margin: 0;
  color:aliceblue;
  text-align: start;
  font-size: 20px;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.home-texto #botao-saiba-mais {
  color: #ffffff;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 50px;
  padding: 10px 15px;
  max-width: 150px;
  margin-top: 20px;
  text-decoration: none;
  font-size: var(--font-size-buttons);
}
/* 
.container-home .container-imagem {
  max-height: 600px;
  padding-left: 80px;
  
} */

.container-imagem .imagem-home {
  max-width: 100%;
  display: flex;
  margin: auto;
  

}

.container-sobre-mim {
  margin-top: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}


.container-imagem .imagem-sobremim {
  max-width: 100%;
  display: flex;
  margin: auto;

}

.container-foto-e-texto {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 600px;
  margin: auto;
  padding: 30px;
}

.container-sobre-mim .container-foto-e-texto .minha-foto {
  max-width: 30%;
  height: auto;
  border-radius: 50%;
  display: block;
}

.container-foto-e-texto .titulo-sobremim {
  font-size: var(--font-size-titles);
  font-weight: var(--font-weight-text);
  color: aliceblue;
}

.container-foto-e-texto .texto {
  color: #fff;
  font-size: var(--font-size-comum-text);
  text-align: justify;
}


.titulo-projeto {
  margin: 100px 0 0 0;
  font-size: var(--font-size-titles);
  color: #FFF;
  text-align: center;
}



.container-contato .redes-sociais  {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
}
.texto {
  font-size: var(--font-size-comum-text);
  color: #fff;
}


.titulo-contato {
  font-size: var(--font-size-titles);
  text-align: center;
  margin: 30px 30px;
}

.icon-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
  gap: 30px;
}


/* Faz com que o label com a classe "sr-only" seja ocultado, mas continua sendo lido por leitores de tela, de forma acessível */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.formulario-contato .input-campo {
  background-color: transparent;
  font-size: var(--font-size-comum-text);
  color: #ffffff;
  margin: 10px 0px;
  width: 500px;
  border: none;
  height: 50px;
  text-align: start;
  border-bottom: 2px solid #a33ed1;
  outline: none;
  padding: 6px 4px; 
}

.formulario-contato .textarea {
  padding: 6px 4px; 
  background-color: #fff;
  color: #050c20;
  border: 2px solid #a33ed1;
  text-align: start;
  height: 100px;
}


.formulario-contato .input-campo:focus {
  border-bottom-color: #f5d2c7; /* muda de cor quando clica */
}

.formulario-contato .botao-enviar {
  color: #ffffff;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 50px;
  padding: 10px 15px;
  width: 150px;
  margin-top: 20px;
  text-decoration: none;
  font-size: var(--font-size-buttons);
  cursor: pointer;
  transition: 0.2s ease;
}

.formulario-contato .botao-enviar:hover {
  background-color: #a33ed1;
}


/* .blue-container {
  width: 600px;
  height: 718px;
  margin-left: 671px;
  background-color: var(--tertiary-color);
  position: absolute;
  z-index: -1;
} */



/* 
img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease; 
}

.image {
  transition: transform 0.3s ease; /* aplica suavidade para qualquer transformação 
  width: 100%;
  border-radius: 25px;
} */
/* 
.first-image {
    width: 100%;
  border-radius: 0px 106px 0px;
}

.meus-trabalhos p{
  width: 100%;
}


.projeto {
  font-size: 25px;
}

.espaco {
  margin-top:  40px;
} */

.rodape {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(74, 7, 119);
  width: 100%;
  height: 200px;

}

.author-info {
  font-size: 14px;
  text-align: center;
  padding: 50px;
  color: rgb(255, 255, 255);
}

.author-info a {
  text-decoration: none;
  color: #ffffff;
}

.link {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

/* Até 828px fica bom, valores menores que esse fica horrível */

@media screen and (max-width: 828px) {
.container-home  {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-texto .portfolio {
  background-color: aliceblue;
  color: var(--primary-color);
  font-size: 18px;
  border-radius: 10px;
  padding: 10px 10px;
  width: 30%;
  height: 5%;

}

.container-imagem .imagem-home {
  max-width: 70%;
  display: flex;
  margin: auto;
  

}

.home-texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 30px 0px;
}

.container-sobre-mim {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;

}


.container-imagem .imagem-sobremim {
  max-width: 70%;
  display: flex;
  margin: auto;

}

.container-foto-e-texto .texto {
  color: #fff;
  padding: 11px 50px;
  font-size: var(--font-size-comum-text);
  text-align: justify;
}

}



@media screen and (max-width: 575px) {
  #cabecalho {
    background-color: #5f22c2;
    padding: 5;
  }


  



  #cabecalho #nav-bar {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    max-width: 100%;
  }

  #cabecalho #nav-bar .links {
    border: 1px solid rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;

  }

  .home-texto .texto {
    padding: 12px;
    text-align: center;
}

.container-foto-e-texto .texto {
  color: #fff;
  padding: 11px 10px;
  font-size: var(--font-size-comum-text);
  text-align: justify;
}

}



