@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Stack+Sans+Text:wght@200..700&display=swap');

html {
  scroll-behavior: smooth;
}

:root {
  /* Main colors */
  --primary-color: #050c20;
  --dark-theme-secondary-color: #5e17eb;
  --light-theme-secondary--color: #8c52ff;
  --tertiary-color: #0976e3;

  /* Buttons & Toggles */
  --font-size-buttons: 22px;
  
  /* Fundo da página */
  --dark-theme-bg-color: #050c20;
  --light-theme-bg-color: #fff;

  /* Textos */
  --light-theme-title-text: #6e61cf;
  ---light-theme-comum-text: #948d8d;
  --dark-theme-title-text: #ffffff;
  --font-size-comum-text: 22px;
  --font-size-titles: 24px;
  --font-weight-titles: 700;
  --font-weight-text: 700;
  --font-family-primary: "Outfit", "Stack Sans Text", Arial, sans-serif;

  /* Menu */
  --light-theme-menu-color: #a27bf0;
  --dark-theme-menu-color: #dcdcdc;
  
}

* {
  font-family: var(--font-family-primary);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--light-theme-bg-color);
  transition: 0.4s;
}


body.dark  {
    background-color: #050c20;
    
}

/* .purple-container {
  width: 600px;
  height: 718px;
  margin-left: 71px;
  background-color: var(--secondary-color);
  position: absolute;
  z-index: -1;
} */


#cabecalho {
  margin-top: 10px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

#cabecalho #nav-bar {
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
gap: 30px;
max-width: 100%;
}

.links {
  text-decoration: none;
  color: var(--light-theme-menu-color);
  font-size: 20px;
  transition: 0.2s ease;
  font-weight: 500;
}

/* DARK THEME */
body.dark #cabecalho .links {
  text-decoration: none;
  color: var(--dark-theme-menu-color);
  font-size: 20px;
  transition: 0.2s ease;
}

#nav-bar .links:hover{
  color: #c844e2;
}

#cabecalho .toggle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding-left: 15px;
}

#cabecalho #title-theme {
  font-size: 20px;
  min-width: 125px;
  color: var(--light-theme-menu-color);
}

body.dark #cabecalho #title-theme {
  color: #ffffff;
}

#hr-home {
  display: flex;
  justify-self: center;
  margin: 10px 0px 0px 0px;
  border: 3px solid #5e17eb;
  width: 50%;
  border-radius: 10px;
}

/* TOGGLE DARK THEME AND LIGHT THEME */
.trilho {
    width: 81px;
    height: 34px;
    background-color: #bcbcbc;
    border-radius: 150px;
    position: relative;
    cursor: pointer;
    transition: 0.4s;
}

.trilho .indicador {
    width: 36px;
    height: 34px;
    background-color: #f6f6f6;
    border-radius: 50%;
    transform: scale(.9);
    position: absolute;
    left: 0;
    transition: 0.4s;
}

.trilho.dark {
    background-color: #cab0ff;
}

/* Precisam existir juntas, logo, não adicione expaços */
.trilho.dark .indicador {
    left: 45px;
    background-color: #5e17eb;
}

 /* HOME  */
.container-home  {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 150px;
}



.container-apresentacao .texto {
  color: var(---light-theme-comum-text);
  margin-top: 10px;
  font-size: var(--font-size-comum-text);
}

body.dark .texto {
  color: #fff;
}

.container-apresentacao .portfolio {
  background-color: var(--dark-theme-secondary-color);
  border-radius: 10px;
  padding: 20px 20px;
  height: 15%;
  align-items: center;
  justify-content:center;
  display: flex;
  color: #fff;
  width: 100%;
  }


.container-apresentacao .nome {
  color: var(--light-theme-secondary--color);
  text-align: start;
  font-size: 48px;
}

.container-apresentacao .curso {
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.container-apresentacao #botao-saiba-mais {
  color: #ffffff;
  background-color: var(--dark-theme-secondary-color);
  border: none;
  border-radius: 50px;
  padding: 10px 15px;
  max-width: 150px;
  margin-top: 20px;
  text-decoration: none;
  font-size: var(--font-size-buttons);
}

.container-imagem .imagem-home {
  max-width: 80%;
  display: flex;
  margin: auto;
  transition: 0.4s;
}

body.dark .imagem-home {
  content: url('../img/dark-theme-ilustration-Photoroom.png');
  transition: 0.4s;
}

.container-sobre-mim {
  margin: 200px 0px 200px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


.container-imagem .imagem-sobremim {
  max-width: 100%;
  display: flex;
  margin: auto;

}

.container-foto-e-texto {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 600px;
  margin: auto;
  gap: 15px;
  padding: 30px;
}

.container-sobre-mim .container-foto-e-texto .minha-foto {
  max-width: 35%;
  height: auto;
  border-radius: 50%;
  display: block;
  position: relative;
}

.container-foto-e-texto .titulo-sobremim {
  font-weight: var(--font-weight-text);
  color: var(--light-theme-title-text);
  font-size: var(--font-size-titles);
}

.container-foto-e-texto .texto {
  color: var(---light-theme-comum-text);
  font-size: var(--font-size-comum-text);
  text-align: justify;
}


.titulo-projeto {
  margin: 100px 0 0 0;
  font-size: var(--font-size-titles);
  color: #FFF;
  text-align: center;
}

.container-contato .redes-sociais  {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
  background-color: #3017d681;
}

.texto {
  font-size: var(--font-size-comum-text);
  color: var(--light-theme-title-text);
}

.titulo-contato {
  font-size: var(--font-size-titles);
  text-align: center;
  margin: 30px 30px;
  color: #fff;
}

.icon-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
  gap: 30px;
}

/* Faz com que o label com a classe "sr-only" seja ocultado, mas continua sendo lido por leitores de tela, de forma acessível */
/* .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
} */

.rodape {
  padding: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  background-color: #5e17eb;
}

.rodape ul li {
  margin-top: 10px;
  list-style-type: square;
  color: var(---light-theme-comum-text);
}


.rodape h1 {
  color: #FFF;
  font-size: var(--font-size-titles);
}

.rodape p {
  color: var(---light-theme-comum-text);
 
}

.rodape a {
  color: #a62cd6;
  text-decoration: none;
} 




/* Até 828px fica bom, valores menores que esse fica horrível */
/* RESPONSIVIDADE */
@media screen and (max-width: 828px) {
.container-home  {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-texto .portfolio {
  background-color: aliceblue;
  color: var(--primary-color);
  font-size: 18px;
  border-radius: 10px;
  padding: 10px 10px;
  width: 30%;
  height: 5%;

}

.container-imagem .imagem-home {
  max-width: 70%;
  display: flex;
  margin: auto;
  

}

.home-texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 30px 0px;
}

.container-sobre-mim {
  margin: 200px 0px 200px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;

}


.container-imagem .imagem-sobremim {
  max-width: 70%;
  display: flex;
  margin: auto;

}

.container-foto-e-texto .texto {
  color: #fff;
  padding: 11px 50px;
  font-size: var(--font-size-comum-text);
  text-align: justify;
}

#hr-home {
  display: none;
}

}



@media screen and (max-width: 575px) {

  #cabecalho {
  margin-top: 10px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  gap: 30px;
  }

  .container-home  {
  width: 90%;
  margin: auto;
  gap: 30px;
  
  }

  .container-apresentacao {
    margin-bottom: 60px;
  }

  body.dark .portfolio {
  width: 100%;
  }


  
  #cabecalho #nav-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  max-width: 100%;
  margin-bottom: 50px;
}

  #cabecalho #nav-bar .links {
    border: 1px solid rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;

  }



  .container-sobre-mim  .container-foto-e-texto .titulo-sobremim {
    color: var(--light-theme-title-text);
  }

  body.dark .container-sobre-mim  .container-foto-e-texto .titulo-sobremim {
    color: var(--dark-theme-title-text);
  }

  body.dark .container-sobre-mim  .container-foto-e-texto .texto {
    color: var(--dark-theme-title-text);
  }

  .container-sobre-mim  .container-foto-e-texto .texto {
    color: var(---light-theme-comum-text);
  }

  .container-sobre-mim {
  margin: 200px 0px 200px 0px;
  }

  .container-foto-e-texto .texto {
    color: #fff;
    padding: 11px 10px;
    font-size: var(--font-size-comum-text);
    text-align: justify;
  }

  #hr-home {
  display: none;
}

}



