@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html {
  scroll-behavior: smooth;
}

:root {
  /* Main colors */
  --primary-color: #050c20;
  --dark-theme-secondary-color: #5e17eb;
  --light-theme-secondary--color: #8c52ff;
  --tertiary-color: #0976e3;

  /* Buttons & Toggles */
  --font-size-buttons: 16px;
  
  /* Fundo da página */
  --dark-theme-bg-color: #050c20;
  --light-theme-bg-color: #fff;

  /* Textos */
  --light-theme-title-text: #6e61cf;
  ---light-theme-comum-text: #948d8d;
  --dark-theme-title-text: #ffffff;
  --font-size-comum-text: 16px;
  --font-size-titles: 22px;
  --font-weight-titles: 700;
  --font-weight-text: 700;
  --font-family-primary: 'Noto Sans', Arial, sans-serif;

  /* Menu */
  --light-theme-menu-color: #a27bf0;
  --dark-theme-menu-color: #dcdcdc;
  
}



* {
  font-family: var(--font-family-primary);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: var(--light-theme-bg-color);
  transition: 0.4s;
}

/* .purple-container {
  width: 600px;
  height: 718px;
  margin-left: 71px;
  background-color: var(--secondary-color);
  position: absolute;
  z-index: -1;
} */


#cabecalho {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  
}


#cabecalho .toggle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding-left: 15px;
  
  
}


#cabecalho #title-theme {
  font-size: 20px;
      min-width: 125px;
  color: var(--light-theme-menu-color);
}

#cabecalho #nav-bar {
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
gap: 30px;
max-width: 100%;


}

#linha-horizontal {
  position: absolute;
  border: none;
  height: 10px;
  background-color: var(--secondary-color);
  width: 32%;
  opacity: 1;
  margin-left: 49%;
}

.links {
  text-decoration: none;
  color: var(--light-theme-menu-color);
  font-size: 20px;
  transition: 0.2s ease;
}

/* DARK THEME */
body.dark #cabecalho .links {
  text-decoration: none;
  color: var(--dark-theme-menu-color);
  font-size: 20px;
  transition: 0.2s ease;
}


#nav-bar .links:hover{
  color: #c844e2;
}

#hr-home {
  display: flex;
  justify-self: center;
  margin: 10px 0px 0px 0px;
  border: 2px solid #a33ed1;
  width: 50%;

}

/* TOGGLE DARK THEME AND LIGHT THEME */
.trilho {
    width: 81px;
    height: 34px;
    background-color: #bcbcbc;
    border-radius: 150px;
    position: relative;
    cursor: pointer;
    transition: 0.4s;
}

.trilho .indicador {
    width: 36px;
    height: 34px;
    background-color: #f6f6f6;
    border-radius: 50%;
    transform: scale(.9);
    position: absolute;
    left: 0;
    transition: 0.4s;
}

.trilho.dark {
    background-color: #cab0ff;
}

/* Precisam existir juntas, logo, não adicione expaços */
.trilho.dark .indicador {
    left: 45px;
    background-color: #5e17eb;
}

body.dark  {
    background-color: #050c20;
    
}

body.dark .texto {
  color: #fff;
}

body.dark h1 {
    color: var(--dark-theme-title-text);
}

body.dark .imagem-home {
  content: url('../img/dark-theme-ilustration-Photoroom.png');
  transition: 0.4s;
}


 /* HOME  */
.container-home  {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.container-home .home-texto {
  width: 60%;
}

.home-texto .texto {
  color: var(---light-theme-comum-text);
  margin-top: 10px;
  font-size: var(--font-size-titles);
}


.home-texto .portfolio {
  background-color: var(--dark-theme-secondary-color);
  color: #fff;
  text-align: center;
  font-size: 18px;
  border-radius: 10px;
  padding: 20px 20px;
  width: 50%;
  height: 15%;
  align-items: center;
  justify-content:center;
  display: flex;
}


.home-texto .nome {
  color: var(--light-theme-secondary--color);
  text-align: start;
  font-size: 48px;
}

.home-texto .curso {
  margin: 0;
  color: var(---light-theme-comum-text);
  text-align: start;
  font-size: 20px;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.home-texto #botao-saiba-mais {
  color: #ffffff;
  background-color: var(--dark-theme-secondary-color);
  border: none;
  border-radius: 50px;
  padding: 10px 15px;
  max-width: 150px;
  margin-top: 20px;
  text-decoration: none;
  font-size: var(--font-size-buttons);
}
/* 
.container-home .container-imagem {
  max-height: 600px;
  padding-left: 80px;
  
} */

.container-imagem .imagem-home {
  max-width: 80%;
  display: flex;
  margin: auto;
  transition: 0.4s;
  

}

.container-sobre-mim {
  margin: 200px 0px 200px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


.container-imagem .imagem-sobremim {
  max-width: 100%;
  display: flex;
  margin: auto;

}

.container-foto-e-texto {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 600px;
  margin: auto;
  gap: 15px;
  padding: 30px;
}

.container-sobre-mim .container-foto-e-texto .minha-foto {
  max-width: 35%;
  height: auto;
  border-radius: 50%;
  display: block;
}

.container-foto-e-texto .titulo-sobremim {
  font-weight: var(--font-weight-text);
  color: var(--light-theme-title-text);
  font-size: var(--font-size-titles);
}

.container-foto-e-texto .texto {
  color: var(---light-theme-comum-text);
  font-size: var(--font-size-comum-text);
  text-align: justify;
}


.titulo-projeto {
  margin: 100px 0 0 0;
  font-size: var(--font-size-titles);
  color: #FFF;
  text-align: center;
}



.container-contato .redes-sociais  {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
  background-color: #a27bf0;
}
.texto {
  font-size: var(--font-size-comum-text);
  color: var(--light-theme-title-text);
}


.titulo-contato {
  font-size: var(--font-size-titles);
  text-align: center;
  margin: 30px 30px;
  color: #fff;
}

.icon-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
  gap: 30px;
}


/* Faz com que o label com a classe "sr-only" seja ocultado, mas continua sendo lido por leitores de tela, de forma acessível */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.formulario-contato .input-campo {
  background-color: transparent;
  font-size: var(--font-size-comum-text);
  color: #ffffff;
  margin: 10px 0px;
  width: 500px;
  border: none;
  height: 50px;
  text-align: start;
  border-bottom: 2px solid #a33ed1;
  outline: none;
  padding: 6px 4px; 
}

.formulario-contato .textarea {
  padding: 6px 4px; 
  background-color: #fff;
  color: #050c20;
  border: 2px solid #a33ed1;
  text-align: start;
  height: 100px;
}


.formulario-contato .input-campo:focus {
  border-bottom-color: #f5d2c7; /* muda de cor quando clica */
}

.formulario-contato .botao-enviar {
  color: #ffffff;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 50px;
  padding: 10px 15px;
  width: 150px;
  margin-top: 20px;
  text-decoration: none;
  font-size: var(--font-size-buttons);
  cursor: pointer;
  transition: 0.2s ease;
}

.formulario-contato .botao-enviar:hover {
  background-color: #a33ed1;
}

#hr-footer {
  margin: 10px 0px 0px 0px;
  border: 1px solid #a33ed1;
}

.rodape {
  padding: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.rodape ul li {
  margin-top: 10px;
  list-style-type: square;
  color: var(---light-theme-comum-text);
}


.rodape h1 {
  color: #FFF;
  font-size: var(--font-size-titles);
}

.rodape p {
  color: var(---light-theme-comum-text);
 
}

.rodape a {
  color: #a62cd6;
  text-decoration: none;
} 




/* Até 828px fica bom, valores menores que esse fica horrível */
/* RESPONSIVIDADE */
@media screen and (max-width: 828px) {
.container-home  {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-texto .portfolio {
  background-color: aliceblue;
  color: var(--primary-color);
  font-size: 18px;
  border-radius: 10px;
  padding: 10px 10px;
  width: 30%;
  height: 5%;

}

.container-imagem .imagem-home {
  max-width: 70%;
  display: flex;
  margin: auto;
  

}

.home-texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 30px 0px;
}

.container-sobre-mim {
  margin: 200px 0px 200px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;

}


.container-imagem .imagem-sobremim {
  max-width: 70%;
  display: flex;
  margin: auto;

}

.container-foto-e-texto .texto {
  color: #fff;
  padding: 11px 50px;
  font-size: var(--font-size-comum-text);
  text-align: justify;
}

}



@media screen and (max-width: 575px) {
  #cabecalho {
    background-color: #5f22c2;
    padding: 5px;
  }

  .home-texto .portfolio {
  width: 60%;
  }
  
  #cabecalho #nav-bar {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    max-width: 100%;
  }

  #cabecalho #nav-bar .links {
    border: 1px solid rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;

  }

  .home-texto .texto {
    padding: 12px;
    text-align: center;
  }

  .container-sobre-mim {
  margin: 200px 0px 200px 0px;
  }

  .container-foto-e-texto .texto {
    color: #fff;
    padding: 11px 10px;
    font-size: var(--font-size-comum-text);
    text-align: justify;
  }

  #hr-home {
  display: none;
}

}



