* {
  font-family: Arial;
  margin: 0;
}



body {
  background-color: rgb(48, 48, 48); 
}

/* Pseudo-elemento adicionando um content */
main::after {
  content: '';
  position: fixed;
  top: 0;
  right: 0;
  min-height: 100vh;
  width: 110vw;
  background: linear-gradient(90deg, #1a1a1a 11%, rgb(24 21 21 / 0%) 50%, rgb(0 0 0 / 0%) 100%) no-repeat;
  z-index: -1;

}


.titulo {
  background-color: aliceblue;
  color: rgb(48, 48, 48);
  text-align: center;
  font-size: 25px;
  border-radius: 10px;
  padding: 20px 20px;
  margin: 0;
  width: 80%;
  height: 15%;
  align-items: center;
  justify-content:center ;
  display: flex;
}

.nome {
  color:aliceblue;
  text-align: start;
  font-size: 50px;
  font-weight: bolder;
  margin-top: 20px;
}

.subtitulo {
  margin: 0;
  color:aliceblue;
  text-align: start;
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: 5px;
}

.texto {
  color:aliceblue;
  text-align: end;
  font-size: 20px;
  font-weight: lighter;
  margin-bottom: 300px;
}

.sobremim {
  text-align: end;
}

img:hover {
  transform: scale(1.1); /* aumenta 10% */
  transition: transform 0.3s ease; /* suaviza o efeito */
}

.image {
  transition: transform 0.3s ease; /* aplica suavidade para qualquer transformação */
  width: 100%;
  border-radius: 25px;
}

.first-image {
    width: 100%;
  border-radius: 0px 106px 0px;
}

.meus-trabalhos p{
  width: 100%;
}


.projeto {
  font-size: 25px;
}

.espaco {
  margin-top:  40px;
}

.author-info {
  font-size: 14px;
  text-align: center;
  margin: 20px 0px;
  padding: 25px;
  color: rgb(255, 255, 255);
}

.author-info a {
  text-decoration: none;
}

.link {
  text-decoration: none;
  color: rgb(68, 68, 255);
}